<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Emineo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <img src="/logo.png" alt="Emineo Logo" style="width: 150px; height: auto;">
  <h1>Les infos du campus</h1>
</body>
</html>
